/* Materialize CSS Overrides */
.always-large-modal {
    width: 85%;
    max-width: 1400px;
    height: 80%;
    max-height: 90%;
    padding: 10px;
}

.modal {
    min-width: 65%;
}

.modal .modal-content {
    padding: 20px;
}

/*on narrow phone screens, modal width is 100% */
@media only screen and (max-width: 800px) {
    .modal {
        width: 100%;
        margin: 0;
    }
}
